<%-include('partials/header', {title: "Community Cookbook"}); -%>


<div class="row mb-5">
    <div class="font-weight-bold font-italic mb-">Recipe: <%=selectedRecipe[0].recipeName%></div>
</div>
<div class="row">
    <div class="col-4"><div class="recipeTextHeader">Ingredients:</div>
        
        <% var ingredient = selectedRecipe[0].ingredients %>
        <% for (var i=0; i<=2; i++){%>
            <div class="row p-1">
            <%=selectedRecipe[0].ingredients[i].quantity%>
            <%=selectedRecipe[0].ingredients[i].unit%>
            <%=selectedRecipe[0].ingredients[i].description%>
            </div>
          <%}%>
        
        
    </div>
    <div class="col-8">
        <div class="recipeTextHeader">Instructions:</div>
        <div class="card mb-5">
            <%=selectedRecipe[0].instructions%>
        </div> 
        <div class="row">
            <div class="recipeTextHeader">Comments:</div>
        </div>
        <% for (let comment of comments){%>
            <div class="row">
                <div class="card border border-primary p-2 mb-3">                  
                    <%=comment.comment%>
                    <div class="border"><%=comment.date%></div>
                </div> 
            </div>
        <%}%>   
    </div>
</div>
<div class="card">
    <form method="POST" id="newComment">
        <div class="form-group">
            <label for="newCommentField">Add Comments</label>
            <input type="hidden" name="recipeTitle" value="<%=selectedRecipe[0].recipeName%>">
            <textarea name="newComment" class="form-control" id="newCommentField" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button class="btn bg-primary text-white" type="submit" id="submitNewRecipe"> Save </button>
        </div>
    </form>
</div>

    

<%-include('partials/footer'); -%>